body {
    background: #D6CDF1;
    color: #D6CDF1;
    margin: 0;
}

#container {
    height: 100vh;
    padding: 20px; /* to get rid of the collapsing margin */
}

#display {
    /*border: 1px solid black;*/
    padding: 10px 0; /* to get rid of the collapsing margin */
    background-color: #452C9E;
    width: 500px;
    min-height: 550px;
    text-align: center;
}

/*#content {
    border: 1px solid black;
}*/

.question {
    /*border: 1px solid #D6CDF1;*/
    margin: 5px auto;
    width: 330px;
}

.question-answer-choices {
    /*border: 1px solid #D6CDF1;*/
    margin: 5px auto;
    width: 267px;
}

.question-answer-choices > * {
    border: 1px solid #D6CDF1;
    width: 40%;
    margin: 5px;
    text-align: left;
    display: inline-block;
}

.row-0, .row-1 {
    vertical-align: top;
}

.one-question {
    border: 1px solid #D6CDF1;
    margin: 15px auto;
    width: 375px;
}