body {
    background: #D6CDF1;
    color: #D6CDF1;
    margin: 0;
}

#container {
    height: 100vh;
    position: relative;
}

#display {
    border: 2px solid black;
    background-color: #452C9E;
    width: 500px;
    min-height: 550px;
    text-align: center;
}

#content {
    border: 1px solid black;
}

.question {
    /*border: 1px solid #D6CDF1;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.question-answer-choices {
    /*border: 1px solid #D6CDF1;*/
    margin: 5px auto;
    width: 45%;
}

.question-answer-choices > * {
    border: 1px solid #D6CDF1;
    width: 40%;
    margin: 5px;
    text-align: left;
    display: inline-block;
}

.row-0, .row-1 {
    vertical-align: top;
}

/* .one-question {
    border: 1px solid #D6CDF1;
} */